<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table> 
  <tr>
    <th *ngFor ='let headings of heading'>{{headings}}</th>
  </tr>
  <tr *ngFor ='let allData of data'>
    <td>{{allData.name}}</td>
    <td>{{allData.course}}</td>
    <td>{{allData.institiue}}</td>
    <td>{{allData.emailId}}</td>
  </tr>
</table>
</body>
</html>
